
2. datos_estadisticos/2. CBO_Southwest_land_border_events/cbo_sectors_geodata/USBP_Sectors_Encounters.shp.ROSARIO.2724.45440.sr.lock
2. datos_estadisticos/2. CBO_Southwest_land_border_events/cbo_sectors_geodata/USBP_Sectors_Encounters.shp.ROSARIO.28448.45440.sr.lock
2. datos_estadisticos/2. CBO_Southwest_land_border_events/cbo_sectors_geodata/USBP_Sectors_Encounters.shp.ROSARIO.34984.45440.sr.lock
2. datos_estadisticos/2. CBO_Southwest_land_border_events/cbo_sectors_geodata/USBP_Sectors_Encounters.shp.ROSARIO.38628.45440.sr.lock
2. datos_estadisticos/2. CBO_Southwest_land_border_events/cbo_sectors_geodata/USBP_Sectors_Encounters.zip
